{
  "jsc": {
    "parser": {
      "syntax": "ecmascript",
      "jsx": true,
      "strictMode": false,
      "superBinding": false,
      "allowSuperOutsideMethod": false
    },
    "target": "es2020",
    "loose": false,
    "minify": {
      "compress": false,
      "mangle": false
    }
  },
  "module": {
    "type": "es6"
  }
}
